<%= render 'layouts/messages' %>
<% if @friends %>
  <div class="row my-3">
    <% @friends.each do |friend| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card my-1">
          <div class="card-body">
            <h5 class="card-title"><%= friend.full_name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= friend.email %></h6>
            <%= link_to user_path(friend), class: "btn btn-sm btn-primary" do %>
              <%= fa_icon 'external-link' %> View profile
            <% end %>
            <% if current_user.not_friends_with?(friend.id) %>
              <%= link_to friendships_path(friend: friend), class: "btn btn-sm btn-success", method: :post do %>
                <%= fa_icon 'user-plus' %> Follow
              <% end %>
            <% else %>
              <div class="btn btn-sm btn-secondary disabled">
                <%= fa_icon 'ban' %>
                Already followed
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
